<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoogleBooksApi</title>

    <!-- Schriftarten -->
    <!-- Dancing Script-->
    <!--Open Sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />

    <!--CSS:-->
    <link rel="stylesheet" href="/static/stylesheet.css" />
  </head>
  <body>
    <!--Headline definition-->
    <div class="navbar">
      <h1 class="headline">
        <a class="title" href="{{ url_for('index')}}">BookCorner</a>
      </h1>

      <div>
        <a class="subpage" href="{{ url_for('bookshelfgoogle') }}"
          >Büchersuche</a
        >
        <a class="subpage" href="{{ url_for('bookshelf') }}">Bücherregal</a>
        <a class="subpage" href="#">SuB</a>
        <a class="subpage" href="#">Wunschliste</a>
      </div>
    </div>

    <h1>Bücherregal</h1>


      <div class="back_container">
        <div id="saved-books"></div>

        <!--hier soll bei drücken des knopfes eine Backup Datei erzeugt werden-->
        <div>
          <a href="/templates/bookshelf.html">
            <button type="button">
              <img class="button_image" src="/static/Pictures/backup.png" />
              <!--Insert picture-->
            </button>

          </a>
        </div>
      </div>

    <!-- Test Section-->

    

    <script src="/static/googleapp.js"></script>
  </body>
</html>
