<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BookCorner</title>

    <!-- Schriftarten -->
    <!-- Dancing Script-->  <!--Open Sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <!--CSS:-->
    <link rel="stylesheet" href="/static/stylesheet.css">
  </head>

<!--Content-->
<body>
    


    <!--Headline definition-->
    <div class="navbar">
        <h1 class="headline"> 
            <a class="title" href="{{ url_for('index')}}">BookCorner</a> 
        </h1>

        <div>
            <a class="subpage" href="{{ url_for('bookshelfgoogle') }}">Büchersuche</a>
            <a class="subpage" href="{{ url_for('bookshelf') }}">Bücherregal</a>
            <a class="subpage" href="#">SuB</a>
            <a class="subpage" href="#">Wunschliste</a>
        </div>
    </div>
    
    <div id="latest-books-container">
        <h2>Letzte 5 hinzugefügte Bücher</h2>
        <script src="/static/googleapp.js"></script>
    </div>
   
       



    <!-- <div class="front_container"> Unsicherbarer Container div
        <img class="header_image" src="/static/Pictures/EntranceBook.jpg">     
        <div class="caption_container">
            Leseziel 2024
        </div>

    </div>

    <div class="second_container">
        <img class="left_image" src="/static/Pictures/EntranceBook.jpg">     
        <div class="caption_container right_container">
            Nächste Veröffentlichungen
        </div>  -->
    

    </div>
        

</body>
</html>